<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotiq_ft300s">

    <xacro:macro name="robotiq_ft300s" params="parent prefix *origin">

        <!-- mount the fts to the robot -->
        <joint name="${prefix}fts_fix" type="fixed" >
            <origin xyz="0 0 -0.00" rpy="0 0 0"/>
            <parent link="${parent}" />
            <child link="${prefix}ft_robotside" />
        </joint>

        <link name="${prefix}ft_robotside">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.65"/>
                <inertia ixx="0.000661171875" ixy="0" ixz="0" iyy="0.000661171875" iyz="0" izz="0.00117" />
            </inertial>

            <visual>
                <origin xyz="0 0 0.035851" rpy="${-pi} 0 0" />
                <geometry>
                    <mesh filename="package://ft300s_description/meshes/visual/fts300s.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="black"/>
            </visual>

            <collision>
                <origin xyz="0 0 0.035851" rpy="${-pi} 0 0" />
                <geometry>
                    <mesh filename="package://ft300s_description/meshes/collision/fts300s.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

        <!-- toolside frame -->
        <joint name="${prefix}toolside_joint" type="fixed" >
            <origin xyz="0 0 0.03851" rpy="0 0 0" />
            <parent link="${prefix}ft_robotside" />
            <child link="${prefix}ft_toolside" />
        </joint>
        <link name="${prefix}ft_toolside"/>

    </xacro:macro>
</robot>